@import "var.scss";
@import "global.scss";

div,
ul,
li {
  box-sizing: border-box;
}
.song-list {
  width: 70%;
  margin: 20px auto;
  margin-bottom: 40px;
  // margin-top: $header-height + 20px;
  padding-bottom: 50px;
  min-width: 800px;
  background-color: #f2e6dc;
  border: 20px solid transparent;
  border-width: 20px 10px 3px 100px;
  border-image-source: url('~@/assets/img/5.png');
  border-image-slice: 12 10 3 70;
  display: flex;
}

.song-list-header { 
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 0 40px;
  li {
    // display: inline-block;
    line-height: 40px;
    width: 100%;
    margin: 30px 20px 15px 20px;
    font-size: 20px;
    font-weight: 400;
    color: $color-grey;
    border-bottom: none;
    cursor: pointer;
  }
  li.active {
    color: $color-black;
    font-weight: 600;
    // border-bottom: 4px solid $color-black;
  }
}

.song-content{
  flex: 7;
  margin-top: 15px;
}
.pagination {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  // @include layout;
}
